.nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.logo {
  width: 150px;
  font-size: 36px;
  font-weight: 900;
}

.links {
  display: flex;
  align-items: center;
}

.links > a + a {
  margin-left: 20px;
}
.links > a {
  padding: 10px;
  text-decoration: none;
  color: var(--white);
  font-size: var(--p);
}
